## Project-specific files
data/.*
doc/.*
po/.*
po-defs/.*
src/.*
data/*.desktop
po/POTFILES
po/stamp-it
src/qalculate-gtk
*~
*.a
*.gmo
*.la
*.lo
*.o
*.swp
*.libs
*.deps
~*
autom4te*
config.*
intltool*.in
Makefile
Makefile.in
.deps
.kdev4
.libs
.pc/
aclocal.m4
compile
configure
depcomp
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h
stamp-h1

## CudaText project files are user-specific
*.cuda-proj

## Kate swap files
.*.kate-swp
.swp.*

## Sublime Text
# Workspace files are user-specific
*.sublime-workspace
# Sublime-GitHub package stores user's GitHub tokens here
GitHub.sublime-settings
# SFTP configuration/credentials file
sftp-config.json
# Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache
# Cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

## Visual Studio Code
.vscode/*
# All but four files are installation-specific
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
